.menu-icon {
  color: orangered;
  font-size: 4.375rem;
  margin: 1.25rem;
  z-index: 2;
  cursor: pointer;
}

.n-box1 {
  background: linear-gradient(145deg, #00101d, #001322);
  box-shadow: 5px 5px 0px #00070d, -5px -5px 0px #001d33;
}

.show-header {
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0.95;
  background-color: #001322ab;
  opacity: 0.95;
  height: 50vh;
  width: 50%;
  border-bottom-left-radius: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.hide-header {
  color: white;
  height: 0;
  width: 0%;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.5s;
}

ul li {
  list-style: none;
  margin-top: 1.25rem;
}

ul li,
a {
  color: white;
  text-decoration: none;
}
